

body, html
{
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  min-width: 1600px;
  min-height: 100vh;
  
}
a
{
    text-decoration: none;
}
li
{
    list-style-type: none;
}
p
{
    margin: 0;
}

.bcg
{
    width: 100%;
    box-shadow: 0px 0px 18.7px 3.3px rgba(87, 87, 87, 0.94);
    position: fixed;
    top:0;
    background-color: rgb(248, 248, 248);
    
}

.wrapper
{
    max-width: 1520px;
    margin-left: auto;
    margin-right: auto;
    
}

.nav
{
    
    padding-left: 0;
    padding-bottom: 128px;
    
}
    


.nav-item
{
    margin-left: 150px;
    
}
.nav li:first-child
{
    
    margin-left: 0;
}
.header-top li:first-child
{
    margin-left: 0;   
}

.header-top-list
{
    
     
    padding-left: 0;
    font-size: 30px;
    padding-bottom: 100px;
    padding-top: 74px;
}
.header-top-list li
{
    display:inline;
}
.nav li 
{
    display:inline;
    
}



.link-header-top-list-item
{
    
    color:#545454;
}
.link-header-top-list-item:hover
{
    color:#2c75ff;
}

.header-top-list-item
{
    margin-left: 96px;
}
.header-top-list:last-child
{
    padding-left: 0px;
}

.nav-item-link-current-page
{
    color: #3366ff;
    
}

.nav-item-link
{
    
    color: black;
}


.nav-item
{
    font-size: 35px;
}

.nav-item-link:hover
{
    color:#2c75ff;
}

.container
{
    width: 1550px;
    margin-left: auto;
    margin-right: auto;
    
}
.breadcrumbs-container
{
    margin-top: 500px;
    font-size: 30px;
    padding: 0px 0px 90px 0px;
    
}
.list-breadcrumbs li
{
    
    display: inline;
}
.link-list-breadcrumbs-item  
{
    color:#545454;
}
.link-list-breadcrumbs-item:hover
{
    color:#2c75ff;
}


.catalog-title
{
    text-align: center;
    
    
}

.filters-catalog
{
    font-size: 35px;
    font-weight: bold;
    padding: 0px 0px 136px 40px;
}
.filters-catalog-price
{
    font-size: 30px;
    padding: 0px 0px 25px 40px;
}
.price-to
{
    margin:0px 0px 0px 0px;
    
}
.price-from
{
    margin:0px 60px 0px 40px;
}


.price-to, .price-from
{
    width: 100px;
    height: 30px;
    border:#b7b7b7 solid 2px;
    border-radius: 5px;
    padding: 5px 20px 17px 7px;
    font-size: 20px;
    text-align: center;
    background-color:#eeeeee;
    outline: none;
    font-weight: 300;
}

.form
{
    display: inline-block;
}

.color, .choose-color
{
    padding: 0px 0px 0px 40px;
}
.color
{
    font-size: 30px;
    padding-bottom: 28px;
}
.label-colorpicker
{
    font-size: 25px;
    padding: 0px 0px 0px 17px;
}
.form-price-to-from
{
    padding: 0px 0px 65px 0px;
}
.sort
{
    
    font-size: 30px;
    color: #666666;
    padding: 0px 0px 36px 0px;
}
.items
{
    
    display: flex;
    padding: 5px 5px 111px 5px;
    flex-wrap: wrap;
    width:1110px;
}



  

.item
{
    
    margin: 10px;
    max-width: 1130px;
    box-shadow: 0px 9px 17.64px 0.36px rgba(102, 102, 102, 0.44);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    
    
}
.product-catalog__wrap-right
{
    
    width: 1000px;
      
    
    
}
.product-catalog__container
{
    max-width: 1130px;
    
}
.product-catalog__wrapper
{
   max-width: 1520px;
   width:100%;
    display: flex;
}
.product-catalog__wpar
{
    max-width: 400px;
    
}

.wrp-catalog
{
    width: 1130px;
    padding-left: 30px;
    
}

.photo-product
{
    width: 350px;
    height: 183px;
}
.name-item 
{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 43px;
    font-size: 28px;
    
}
.price-item
{
    margin-left: 24px;
    font-size: 20px;
    margin-bottom: 27px;
    
}
.price-item, .name-item 
{
    font-weight: 500;
}
.item-buy
{
    background-color: #00aeef;
    border-radius: 10px;
    padding: 10px 100px 10px 95px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 25px;
    
    
}



.filters-catalog__container  /* контейнер фильтров */
{
 width: 400px;
   
}
.next-page
{
    display: flex;
    justify-content: center;
}
.choose-page
{
    font-size: 30px;
    font-weight: 500;
}
.current-page
{
    color: #3366ff;
}



  .footer
  {
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 0px 18.7px 3.3px rgba(87, 87, 87, 0.94);
    max-width: 100%;
    height: 400px;
    
    
    
  }
  .main
  {
      margin-bottom: 400px;
      
        width: 100%;
  }
  .item-buy-wrp
  {
    margin: 10px 10px 25px 40px;
  }

  .item-buy:hover 
  {
    background-color: #0097ef;
    transition: 0.6s linear;
    cursor:pointer;
  }

  @media screen and (max-width: 1024px) 
  {
    .filters-catalog {display: none;}
    .filters-catalog-price {display: none;}
    .price-to-from{display: none;}
    .color{display: none;}
    .choose-color{display: none;}
    .product-catalog__wpar{display: none;}
  }

 

